{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logowanie - EkstraklasaHUB</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
  </head>
  <body>
    <div class="card">
      <h2>Zaloguj się</h2>
      <p class="subtitle">Witaj ponownie w EkstraklasaHUB</p>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <form method="POST">
        {% csrf_token %} {% for field in form %}
        <div class="form-group">
          <label class="text-label" for="{{ field.id_for_label }}">
            {{ field.label }}
          </label>

          {{ field }} {% if field.errors %}
          <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn">Zaloguj</button>
      </form>

      <p class="links">
        Nie masz konta? <a href="{% url 'register' %}">Zarejestruj się</a>
      </p>
    </div>
  </body>
</html>
