{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona Główna - EkstraklasaHUB</title>

    <link rel="stylesheet" href="{% static 'main.css' %}" />
  </head>
  <body>
    <nav>
      <a href="/" class="logo">Ekstraklasa<span>HUB</span></a>

      <div class="nav-buttons">
        <a href="{% url 'login' %}" class="btn btn-login">Zaloguj</a>
        <a href="{% url 'register' %}" class="btn btn-register">Zarejestruj</a>
      </div>
    </nav>

    <section class="hero">
      <div class="hero-content">
        <h1>Polska piłka<br />w jednym miejscu.</h1>
        <p>
          Dołącz do największej społeczności kibiców. Analizuj statystyki, śledź
          wyniki na żywo i zarządzaj swoją wymarzoną drużyną w najnowszym
          panelu.
        </p>

        <a href="{% url 'register' %}" class="btn-cta">Rozpocznij teraz</a>
      </div>
    </section>
  </body>
</html>
