:root {
  --bg-color: #0f0f0f;
  --card-bg: #1a1a1a;
  --primary-green: #156634;
  --primary-hover: #11522a;
  --text-main: #e0e0e0;
  --text-muted: #858585;
  --border-color: #333333;
  --input-bg: #0a0a0a;
  --error-color: #f85149;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-main);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.card {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  padding: 3rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.subtitle {
  text-align: center;
  color: var(--text-muted);
  font-size: 0.95rem;
  margin-bottom: 30px;
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

label.text-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #ccc;
  font-size: 0.9rem;
}

.form-control {
  width: 100%;
  padding: 14px;
  background-color: var(--input-bg) !important;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  color: var(--text-main) !important;
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  transition: 0.2s ease;
  appearance: none;
}

.form-control:focus {
  outline: none;
  border-color: #2ea043;
  background-color: #121212 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-bg) inset !important;
  -webkit-text-fill-color: var(--text-main) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.btn {
  width: 100%;
  padding: 16px;
  background: var(--primary-green);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: 0.2s;
}

.btn:hover {
  background: var(--primary-hover);
}

.links {
  text-align: center;
  margin-top: 25px;
  font-size: 0.9rem;
  color: #666;
}
.links a {
  color: #5fb375;
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
  color: #fff;
}

.messages {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
}
.messages li {
  padding: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.messages li.error {
  background: rgba(248, 81, 73, 0.1);
  color: #ff7b72;
  border: 1px solid rgba(248, 81, 73, 0.2);
}
.messages li.success {
  background: rgba(46, 160, 67, 0.1);
  color: #3fb950;
  border: 1px solid rgba(46, 160, 67, 0.2);
}

.errorlist {
  color: var(--error-color);
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
  margin-top: 5px;
}
